<div class= "home bg-theme">
  <div class= "about card">
    <h1 class= "border2" style= "padding-bottom:1rem;"> Kaliope and the Castle Talent </h1>
  <p style="padding-left:10rem;padding-right:10rem;padding-bottom:1rem;padding-top:1rem;">
Welcome to our website! Take a seat, make yourselves at home. We are a one stop shop for all your entertainment needs.
   </p>
  </div>
  <div class= "band-art">
  </div>
  <div class= "feature">
    <br>
    <div class="feature-left">
      <h2 class="border2"style= "padding-bottom:0.5rem;margin-bottom:1.5rem;" > Featured </h2>
      <div class= "embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="600" height="350" src="https://www.youtube.com/embed/qSLQqPZrCcM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="feature-right">
      <h2 class= "border2" style= "padding-bottom:0.5rem; margin-bottom:1.5rem;"> Upcoming </h2>
      <div class= "embed-responsive embed-responsive-16by9 border border-secondary">
        <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?src=kaliopeandthecastletalent%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="600" height="350" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</div>
