.feature-left {
  float:left;
  width:45%;
  margin-left:3rem;
  padding-left:3rem;
  padding-right:3rem;
  padding-bottom:5rem;
  background-color:#F0F5F5;
  box-shadow: 0 4px 6px rgba(0,0,0,.5);
  padding-top: 1.25rem;
  margin-bottom:3rem;
}

.feature-right {
  float:right;
  width:45%;
  padding-left:3rem;
  padding-right:3rem;
  padding-bottom:5rem;
  margin-right:3rem;
  background-color:#F0F5F5;
  box-shadow: 0 4px 6px rgba(0,0,0,.5);
  padding-top: 1.25rem;
  margin-bottom:3rem;
}

.card {
  margin-top:2rem;
  margin-left:7rem;
  margin-right:7rem;
  margin-bottom:3rem;
  background-color:#F0F5F5;
  box-shadow: 0 4px 6px rgba(0,0,0,.5);
}
