<div class="bg-theme" style="height:45rem;">
  <div>
    <ul class="nav justify-content-center">
    <li>
      <a style="color:#000000;" class="nav-link" href="music#originals">Originals</a>
    </li>
    <li class="nav-item">
      <a style="color:#000000;" class="nav-link" href="music#covers">Covers</a>
    </li>
    <li class="nav-item">
      <a style="color:#000000;" class="nav-link" href="music#live">Live</a>
    </li>
  </ul>
  </div>
  <div id="covers">
    <iframe width="33.33%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/372286058&amp;color=%235c6c74&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
  </div>
</div>
