<div class="bg-theme" >
  <div style=" padding-bottom: 1rem;">
    <ul class="nav justify-content-center">
    <li>
      <a style="color:#000000;" class="nav-link" href="music#originals">Originals</a>
    </li>
    <li class="nav-item">
      <a style="color:#000000;" class="nav-link" href="music#covers">Covers</a>
    </li>
    <li class="nav-item">
      <a style="color:#000000;" class="nav-link" href="music#live">Live</a>
    </li>
  </ul>
  </div>
  <div id="originals">
    <iframe width="33.33%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/394422486&color=%235c6c74&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <iframe width="33.33%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/394038621&color=%235c6c74&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  </div>
  <div id="covers">
    <iframe width="33.33%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/372286058&amp;color=%235c6c74&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
    <iframe width="33.33%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/394404735&color=%235c6c74&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <iframe width="33.33%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/394502199&color=%235c6c74&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <iframe width="33.33%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/414702681&color=%235c6c74&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  </div>
</div>
