<app-navbar></app-navbar>
<div class= "home bg-theme">
  <div class= "about">
  <h2 >Kaliope and the Castle Talent</h2>
  <p> Once upon a time, Kaliope met The Castle Talent and thought "hey, let's do a thing" and here we are.
  <br> Kaliope and The Castle Talent are a Raleigh, NC based indie rock duo that dabbles in the genre of Millenial Blues. </p>
  <br>
  </div>
  <div class= "band-art">
  </div>
  <div class= "feature">
    <br>
    <div style="float:left;width:50%;">
      <h2> Featured Song </h2>
      <iframe width="600" height="350" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>

    <div style="float:right;width:50%;">
      <h2> Upcoming Shows </h2>
      <iframe src="https://calendar.google.com/calendar/htmlembed?src=%23contacts%40group.v.calendar.google.com&ctz=America/New_York" style="border: 0" width="600" height="350" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
