.nav-link {

}

.band-art {
  background-image: url("pictures/homepage.jpg");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bg-theme {
  background-color: #D3DCDE;
  color: #000000;
  text-align: center;
  font-family: Futura;
  font-size: 24px;
  height:100%;
}

.bg-theme-2 {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  font-family: Futura;
  font-size: 24px;
  height:100%;
}

.bg-theme-3 {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  font-family: Futura;
  font-size: 24px;
  height:100%;
}

.nav-align {
  display: flex;
  justify-content: space-around;
}
.feature {
  height: 500px;
}

.feature a {
  color: #A4A4A5;
}

.home p {
  font-size: 24px;
}

h2 {
  font-family: Futura;
  font-size: 36px;
}

.about {
  padding-top: 2rem;
}

.border2 {
  border-bottom: 2px solid #C9C9C9;
  margin-left: 10rem;
  margin-right: 10rem;
}

.border3 {
  border-bottom: 2px solid #C9C9C9;
  margin-left: 30rem;
  margin-right: 30rem;
}
