<div class= "bg-theme">
  <h2 class= "border3" style="padding-top:2rem;padding-bottom:1rem;"> About </h2>
  <div style= "padding-left:20rem;padding-right:20rem;">
    <p>
Once upon a time, born on the frozen patio of a local coffee shop, Kaliope and The Castle Talent got together and thought "hey, let's do a thing.” Dedicated to writing, music, minimalism, and general world improvement, Kaliope and The Castle Talent are a multimedia collage of creativity. They are a Raleigh, North Carolina based indie rock band that dabbles in the genre of Millennial Blues and then some.     </p>
  </div>
  <div>
    <div class= "bg-theme-3" style= "padding-left:20rem;padding-right:20rem;">
      <h2 class= "border2" style="padding-top:2rem;padding-bottom:1rem;"> Kaliope </h2>
      <p>
        Kaliope is one of a kind. Big, bold, and brazen, she spurns decorum for the sake of progress, shuns tradition in hopes of a tomorrow we can be proud of, and sings of a world in which anyone can be anything. Singer-songwriter-boss-ass-bitch and former dragon, she hopes to be the difference she wants to see in the world.
        Originally from Suffolk, VA, Kaliope, oldest of seven kids, learned discipline and objectivity at an early age. Her realistic approach to real world problems and lack of regard for the status quo has lead her to Raleigh to find what potential lays within.
      </p>
    </div>
    <div class= "bg-theme" style= "padding-left:20rem;padding-right:20rem;">
      <h2 class= "border2" style="padding-top:2rem;padding-bottom:1rem;"> The Castle Talent </h2>
      <p>
        The Castle Talent, a self-proclaimed virtuoso, hopes to spread love and peace through music, writing, and general positivity (sexual included). Singer-songwriter-ex-hick and aspiring granola, he hopes to travel the world and proclaim his love for existing through song.
        Originally from Salisbury, NC, the Castle Talent hails from an era of reminiscence for classic rock and free spiritedness. Having played music for over a decade, he searches Raleigh for opportunity and inspiration.
      </p>
    </div>
  </div>
</div>
