<div class= "abt bg-theme">
  <div class="align">
    <div class="upcoming">
      <h2> Upcoming Events </h2>
      <div class= "embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/htmlembed?src=%23contacts%40group.v.calendar.google.com&ctz=America/New_York" style="border: 0" frameborder="0"></iframe>
      </div>
    </div>
    <div class="social">
      <h2> Social Media </h2>
      <div class="d-flex flex-row justify-content-around">
        <div class= "scl p-2">
          <a href= "https://soundcloud.com/user-13887748"> <img src= "assets/scl_logo.png" alt= "Kaliope and the Castle Talent Soundcloud" height= "100rem" width="100rem"> </a>
        </div>
        <div class= "sc p-2">
          <img src= "assets/snapcode.png" alt="Kaliope and the Castle Talent Snapchat" height="100rem" width="100rem">
        </div>
        <div class= "yt p-2">
          <a href= "https://www.youtube.com/"> <img src= "assets/yt_logo.png" alt= "Kaliope and the Castle Talent Youtube" height= "100rem" width="100rem"> </a>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="d-flex flex-row justify-content-around">
        <div class= "twitter p-2">
          <a href= "https://twitter.com/KandtheCT_band"> <img src= "assets/twitter_logo.png" alt= "Kaliope and the Castle Talent Twitter" height= "100rem" width="100rem"> </a>
        </div>
        <div class= "ig p-2">
          <a href= "https://www.instagram.com/kandthect_band_1/"> <img src= "assets/ig_black_logo.png" alt="Kaliope and the Castle Talent Instagram" height="100rem" width="100rem"> </a>
        </div>
        <div class= "fb p-2">
          <a href= "https://www.facebook.com/Kaliopeandthecastletalent/" > <img src= "assets/facebook_logo.png" alt="Kaliope and the Castle Talent Facebook" height= "100rem" width="100rem"> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="contact">
    <h2 > Contact Us </h2>
    Email: kaliopeandthecastletalent@gmail.com | Kali: kalifillhart@gmail.com | Cody: rcearnha@gmail.com
  </div>
</div>
